/*GENERAL Style*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.5rem;
  padding: 8.5rem;
}

.header {
  width: 48%;
  text-align: center;
}
.pre-heading {
  font-size: 3.4rem;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}
.header-heading {
  font-size: 3.4rem;
  font-weight: 600;
  color: hsl(236, 12%, 23%);
  margin-bottom: 2.5rem;
}
.header-txt {
  font-size: 1.5rem;
  font-weight: 400;
  color: hsla(229, 6%, 66%, 0.897);
}
.main {
  max-width: 111rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  align-items: stretch;
}

.item-box {
  padding: 3rem;
  border-radius: 6px;
  box-shadow: 0 3px 10px 2px rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
}

.item-heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  margin-bottom: 1rem;
}
.item-desc {
  font-size: 1.3rem;
  font-weight: 400;
  color: hsla(229, 6%, 66%, 0.897);
  margin-bottom: 5rem;
}
.item-icon {
  width: 6rem;
  align-self: flex-end;
  /* position: absolute; */
}

.supervisor {
  border-top: 3px solid hsl(180, 62%, 55%);
  grid-row: 1 / span 2;
  grid-column: 1;
  align-self: center;
}
.team-builder {
  border-top: 3px solid hsl(0, 78%, 62%);
  grid-row: 1;
  grid-column: 2;
}
.karma {
  border-top: 3px solid hsl(34, 97%, 64%);
  grid-row: 2;
  grid-column: 2;
}
.calculator {
  border-top: 3px solid hsl(212, 86%, 64%);
  grid-row: 1 / span 2;
  grid-column: 3;
  align-self: center;
}

@media (max-width: 79em) {
  .header {
    width: 60%;
  }
}
@media (max-width: 61em) {
  .header {
    width: 60%;
  }
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
  }
  .supervisor {
    align-self: unset;
  }
  .calculator {
    align-self: unset;
  }
  .supervisor {
    grid-row: 1;
    grid-column: 1;
  }
  .team-builder {
    grid-row: 1;
    grid-column: 2;
  }
  .karma {
    grid-row: 2;
    grid-column: 1;
  }
  .calculator {
    grid-row: 2;
    grid-column: 2;
  }
}

@media (max-width: 55.5em) {
  .header {
    width: 80%;
  }
}

@media (max-width: 45em) {
  .header {
    width: 90%;
  }
}

@media (max-width: 39em) {
  .container {
    padding: 8.5rem 3rem;
  }
  .pre-heading,
  .header-heading {
    font-size: 2.4rem;
  }
  .main {
    grid-template-columns: 1fr;
  }
  .header {
    width: unset;
  }
  .supervisor {
    grid-column: 1;
  }
  .team-builder {
    grid-column: 1;
    grid-row: 2;
  }
  .karma {
    grid-column: 1;
    grid-row: 3;
  }
  .calculator {
    grid-column: 1;
    grid-row: 4;
  }
}
